body{
    background-color: black;
}

.box1{
    height: 380px;
    border: 1px solid black;
    background-image: url(./img/capa.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}
.box2{
    height: 80px;
    border: 1px solid slategray;
    background-color: slategray;
    text-align: center;
    
}
.pbox2{
    padding: 50px 0px;    
    padding-right: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    line-height: 75px;
    
}

.box3{
    border: 1px solid black;
    font-size: 25px;
    color: aliceblue;

}

